@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 20;
  margin: 0;
  box-sizing: border-box;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}
body {
  width: 100%;
  background-color: #d7d7d7;
}

header {
  text-transform: uppercase;
  color: #f0f0f0;
  background-color: #1f1f1f;

  height: 16vh;

  padding: px 0;
}
i {
  padding-top: 10px;
  font-size: 1.2rem;

  color: #ffffff56;
  transition: all 0.4ms ease-in-out;
}
i:hover {
  color: #ffffff;
  font-size: 1.3rem;
}
.logo {
  background-color: #1f1f1f;
  text-align: center;
  margin: auto; 
}

.links {
  display: flex;
  margin: 20px 0 0 10px;
  width: 30px;
  
  
}
.sociais{
  display: flex;
  
}
.icon {
  display: flex;
  align-items: center;
  width: 30px;
  margin-right: 10px;
}
p,
h3 {
  text-align: center;
  color: rgb(11, 11, 11);
}
h5 {
  margin-right: 5px;
  font-size: 0.8em;
}

.carousel-inner {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  min-height: 850px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 2%;
  margin: 50px auto;
}
#myCarousel img,
#myCarousel1 img,
#myCarousel2 img {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0px;
  border-radius: 1vh;
}
.carousel-inner p {
  padding: 0 15px;
  text-align: justify;
}
.descricao-valor-botao {
  margin: 20px 0 0 20px;
}
.carousel-control-next,
.carousel-control-prev {
  background-color: rgba(00, 00, 00, 0.7);
  width: 30px;
  height: 30px;
  margin: auto;
}

footer {
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 50px 0;
  flex-wrap: wrap;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contato {
  border: 3px solid #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 320px;
}
.contato,
h4 {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

textarea {
  resize: none;
  width: 200px;
}

.TOPO input {
  width: 190px;
  padding: 10px;
  border-radius: 2rem;
  background-color: #ffffff;
  color:#1f1f1f ;
}
div.TOPO {
  margin-bottom: 50px;
}
